<%= form_with model: play_list, url: url, local:true do |f| %>
  <div class="form-group">
    <%= f.label :タイトル %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <th></th>
        <th>ユーザー</th>
        <th>曲名</th>
        <th>歌手名</th>
        <th>いいね</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% current_user.tracks.each do |track| %>
        <tr>
          <td><%= image_tag track.user.get_profile_image, size: '50x50' %></td>
          <td><%= track.user.name %></td>
          <td><%= link_to track.title, public_track_path(track.id), class: "track_#{track.id}" %></td>
          <td><%= track.artist.name %></td>
          <!--td class="btn">-->
          <td id="favorite_buttons_<%= track.id %>">
            <%= render "public/track_favorites/btn", track: track %>
          </td>
          <td><%= track.comments.count %>：コメント</td>
          <td>
            <input type="checkbox" value="<%= track.id %>" name="play_list[track_ids][]" id="play_list_track_ids_<%= track.id %>">
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  <div class="form-group">
    <%= f.submit "作成する", class: 'btn btn-success' %>
  </div>
<% end %>