<%= form_with model: track, url: public_tracks_path, local:true do |f| %>
  <div class="form-group">
    <%= f.label :曲名 %>
    <%= f.text_field :title, class: 'form-control book_title' %>
  </div>
  <div class="form-group">
     <%= f.fields_for :artist do |ff| %>
     <%= ff.label :歌手名 %>
     <%= ff.text_field :name, class: 'form-control book_title'  %>
   <% end %>
  </div>
  <div class="form-group">
    <%= f.label :概要 %>
    <%= f.text_field :description, class: 'form-control book_title' %>
  </div>
  <div class="form-group">
    <%= f.label :参考文献orリンク %>
    <%= f.text_field :url, class: 'form-control book_title' %>
  </div>
  <div class="form-group">
    <%= f.label :ジャンルタグ %>
    <%= f.select :tag_id,Tag.all.pluck(:name, :id), class: 'form-control book_title' %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
  </div>


<% end %>