<h2 class="head-line title_h2 text-left bg-light d-inline-block">曲投稿一覧</h2>
  <hr>
  <!--pathの後の引数(latest: "true"の部分)に(key: "value")の形で書くことによって値を自由に渡すことができる-->
  <%= link_to '新しい順', public_tracks_path(latest: "true") %>
  |<%= link_to '古い順', public_tracks_path(old: "true") %>
  |<%= link_to 'いいね順', public_tracks_path(order_by_favorite: "true") %>
  <%= link_to "投稿する", new_public_track_path, class:"btn btn-success" %>
  <div class="float-right">
    <%= form_with model: @search_tag, url: public_searches_tags_path,method: :get, local:true do |f| %>
      <div class="form-group">
        <%= f.label :タグ検索 %>
        <%= f.select :tag_id, Tag.all.pluck(:name, :id), include_blank: '選択してください', class: 'form-control' %>
        <%= f.submit "検索", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
  <div id="tracks">
    <%= render 'public/tracks/index', tracks: @tracks %>
  </div>
  <div id="pagenate">
    <%= paginate @tracks, remote: true %>
  </div>
</div>