<div class="container">
  <h2>曲投稿詳細</h2>
  <div class='row'>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ユーザー<%= image_tag @track.user.get_profile_image, size: '50x50' %></th>
          <th><%= link_to @track.user.name, public_user_path(@track.user.id) %></th>
        </tr>
        <tr>
          <th>曲名</th>
          <th><%= @track.title %></th>
        </tr>
        <tr>
          <th>歌手名</th>
          <th><%= link_to @track.artist.name, public_artist_path(@track.artist.id) %></th>
        </tr>
        <tr>
          <th>概要</th>
          <th><%= @track.description %></th>
        </tr>
        <tr>
          <th>リンク</th>
          <th><%= link_to "#{@track.url}",  @track.url, target: :_blank  %></th>
        </tr>
        <tr>
          <th>タグ</th>
          <th><%= @track.tag.name %></th>
        </tr>
        <tr>
          <th>いいね</th>
          <th><%= render "public/track_favorites/btn", track: @track %></th>
        </tr>
      </thead>
    </table>
    <% if @track.user == current_user %>
    <div>
      <%= link_to "編集する", edit_public_track_path(@track.id), class: 'btn btn-success' %>
      <%= link_to "曲を削除", public_track_path(@track.id), class: "btn btn-danger mr-1", method: :delete, "data-confirm" => "本当に削除しますか？" %>
    </div>
    <% end %>

    <div>
      <%= link_to "曲一覧へ", public_tracks_path, class: 'btn btn-primary' %>
    </div>
  </div>
  <p>↓曲にコメントする</p>
  <div class="comment_index">
    <%= render "public/comments/each", track: @track %>
  </div>
    <%= render "public/comments/form", track: @track, comment: @comment %>
</div>