<div class="container">
  <h2 class="head-line title_h2 text-left bg-light d-inline-block"><%= @user.name %>の投稿</h2>
  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <th></th>
        <th>名前</th>
        <th>曲名</th>
        <th>歌手名</th>
        <th>URL</th>
         <th>コメント</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @tracks.each do |track| %>
        <tr>
          <td><%= image_tag track.user.get_profile_image, size: '50x50' %></td>
          <td><%= link_to track.user.name, admin_users_path %></td>
          <td><%= track.title %></td>
          <td><%= track.artist.name %></td>
          <td><%= link_to "#{track.url}",  track.url, target: :_blank  %></td>
          <td><%= link_to track.comments.count,  admin_track_comments_path(track.id) %></td>
          <td><%= link_to "削除", admin_track_path(track.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>