<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <thead>
    <tr>
      <th>ユーザー</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>プロフィール編集</th>
      <th>
        <% unless user.guest? %>
          <%= link_to edit_public_user_path(user) do%>
            <i class="btn btn-outline-secondary btn-block">
             <i class="fas fa-user-cog"></i>
            </i>
          <% end %>
        <% end %>
      </th>
    </tr>
  </thead>
</table>
  <%= link_to "投稿する", public_tracks_path, class:"btn btn-success" %>
  <%= link_to "いいねリスト", public_track_favorites_path, class:"btn btn-primary" %>
  <% if current_user == @user %>
    <%= link_to "プレイリストを作成する", new_public_play_list_path, class:"btn btn-success" %>
  <% end %>
<% if @play_lists.any? %>
<p>プレイリスト</p>
  <ul>
    <% @play_lists.each do |play_list| %>
      <li><%= link_to play_list.title, public_play_list_path(play_list) %></li>
    <% end %>
  </ul>
<% end %>

