<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <thead>
    <tr>
      <th>ユーザー</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>プロフィール編集</th>
      <th>
        <% unless user.guest? %>
          <%= link_to edit_public_user_path(user) do%>
            <i class="btn btn-outline-secondary btn-block">
             <i class="fas fa-user-cog"></i>
            </i>
          <% end %>
        <% end %>
      </th>
    </tr>
  </thead>
</table>
  <%= link_to "投稿する", public_tracks_path, class:"btn btn btn-primary" %>
  <%= link_to "いいねリスト", public_track_favorites_path, class:"btn btn btn-primary" %>