<% if current_user.id == @user.id %>
  <h2 class="head-line title_h2 bg-light d-inline-block">マイページ</h2>
<% else %>
　<h class="head-line title_h2 bg-light d-inline-block"><%= @user.name %>のページ</h2>
<% end %>
<div class='row'>
  <div class='col-md-2'>
    <%= render 'profile', user: @user %>
  </div>
  <div class="col-md-9">
    <h2 class="head-line title_h2 bg-light d-inline-block">プレイリスト一覧</h2>
    <% if @play_lists.any? %>
      <%= render 'public/play_lists/each', play_lists: @play_lists %>
    <% else %>
      <p>プレイリストはまだありません。<%= link_to "プレイリストを作成する", new_public_play_list_path %></p>
    <% end %>
    <h2 class="head-line title_h2 bg-light d-inline-block mt-4">投稿リスト</h2>
    <% if @tracks.any? %>
    <div id="users_tracks">
      <%= render 'public/tracks/index', tracks: @tracks %>
    </div>
    <% else %>
      <p>投稿はまだありません。<%= link_to "曲を投稿する", public_tracks_path %></p>
    <% end %>
    <div id="pagenate">
      <%= paginate @tracks, remote: true %>
    </div>
  </div>
</div>